services:
  ts-db-connector:
    build:
      dockerfile: Dockerfile
    container_name: ts-db-connector
    environment:
      - TS_CONTROL_URL=http://localhost:31544
      - TS_LOCAL_STORAGE_DIR=./data/ts-state
      - TS_ADMIN_PORT=8080
      - POSTGRES_USER=test
      - POSTGRES_PASSWORD=Test4Sk8board
      - POSTGRES_DB=testdb
      - COCKROACH_USER=test
      - COCKROACH_PASSWORD=Test4Sk8board
      - COCKROACH_DB=testdb
      - DB_ENGINES=${DB_ENGINES:-all}
    volumes:
      - ..:/workspace
      - ../data/postgres:/var/lib/postgresql/data
      - ../data/postgres-certs:/var/lib/postgres-certs
      - ../data/postgres-audits:/var/lib/postgres-audits
      - ../data/cockroachdb:/var/lib/cockroachdb/data
      - ../data/cockroachdb-certs:/var/lib/cockroachdb-certs
      - ../data/cockroachdb-audits:/var/lib/cockroachdb-audits
    ports:
      - "5432:5432"
      - "26257:26257"
    stdin_open: true
    tty: true
